<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.hayagou.mapper.BoardMapper">

    <insert id="insertBoard">
        INSERT INTO tbl_board (title,content,writer) 
        VALUES (#{title},#{content},#{writer})    
    </insert>
	
	<select id="listBoard" resultType="com.hayagou.domain.BoardVO">
		SELECT num, title, writer, regdate, count
		FROM tbl_board ORDER BY num DESC 
	</select>
	
	<select id="read" parameterType="int" resultType="com.hayagou.domain.BoardVO">
		SELECT num, title, content, writer, regdate, count
		FROM tbl_board WHERE num = #{num}
	</select>
	
	<update id="update" parameterType="com.hayagou.domain.BoardVO">
		UPDATE tbl_board SET title = #{title}, content = #{content}, count = #{count}+1 WHERE num = #{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM tbl_board WHERE num = #{num}
	</delete>


	<select id="count" resultType="int">
		select count(num) from tbl_board
	</select>

	<!-- 게시물 목록 + 페이징 -->
	<select id="listPage" parameterType="hashMap" resultType="com.hayagou.domain.BoardVO">
		select
		num, title, writer, regdate, count
		from tbl_board
		order by num desc
		limit #{displayPost}, #{postNum}
	</select>

	<!-- 게시물 목록 + 페이징 + 검색 -->
	<select id="listPageSearch" parameterType="hashMap"
		resultType="com.hayagou.domain.BoardVO">
		select
		num, title, writer, regdate, count
		from tbl_board

		<if test='searchType.equals("title")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("content")'>
			WHERE content LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("title_content")'>
			WHERE title LIKE concat('%', #{keyword}, '%')
			or content LIKE concat('%', #{keyword}, '%')
		</if>

		<if test='searchType.equals("writer")'>
			WHERE writer LIKE concat('%', #{keyword}, '%')
		</if>

		order by num desc
		limit #{displayPost}, #{postNum}
	</select> 
</mapper>
