<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.hayagou.mapper.UserMapper">

    <insert id="signUp">
        insert into tbl_user(user_name, user_email, user_password, user_hashcode) 
        values (#{user_name},#{user_email},#{user_password},#{user_hashcode})
    </insert>
	
	<select id="login" resultType="com.hayagou.domain.UserVO">
		select user_name, user_email, user_password, user_hashcode, user_avaliable
		from tbl_user where user_email = #{user_email}
	</select>
</mapper>

